<html>
    <head>
        <style type='text/css'>
            #container1, #container2 {
                display: inline-block;
                width: 400px;
                height: 300px;
                border: 1px solid #aec4fc;
                padding: 20px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div id='container1'></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type='text/javascript'>
            $(document).ready(function() {
                // our code will go here
                var options1 = {
                    chart: {
                        type: 'area',
                        zoomType: 'x',
                        events: {
                            load: function() {
                                // maintain a reference to the chart
                                var self = this;

                                $.getJSON('{% url 'pmseries' %}', function(data) {
                                    var pm25series = [];
                                    var pm10series = [];
                                    $.each(data, function(key, value){
                                        pm25series.push([value[0], value[1]]);
                                        pm10series.push([value[0], value[2]]);
                                    });
                                    // console.log(pm25series);
                                    // console.log(pm10series);
                                    self.series[0].setData(pm10series);
                                    self.series[1].setData(pm25series);
                                });
                            }
                        }
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        valueSuffix: 'μg/m³'
                    },
                    title: {
                        text: 'Last 24 hours'
                    },
                    plotOptions: {
                        area: {
                            stacking: 'normal'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                            name: 'PM 10',
                            data: [],
                            color: 'gray'
                        },
                        {
                            name: 'PM 2.5',
                            data: [],
                            color: 'black'
                    }]
                };
                $('#container1').highcharts(options1);
                // console.log(options1);
/*
                var options2 = {
                    chart: {
                        type: 'area',
                        events: {
                            load: function() {
                                // maintain a reference to the chart
                                var self = this;

                                $.getJSON('{% url 'pm25series' %}', function(data) {
                                    self.series[0].setData(data);
                                });
                            }
                        }
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        valueSuffix: 'μg/m³'
                    },
                    title: {
                        text: 'Latest measurements'
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'PM 2.5',
                        data: [],
                        color: 'black'
                    }]
                };
                $('#container2').highcharts(options2);
                // console.log(options2);
*/
            });
        </script>
    </body>
</html>